In [1]:
import pandas as pd
import numpy as np
import seaborn as sns

df1 = pd.read_csv('moodleitcdata.csv')

In [29]:
df1.head()
df1

,userid,username,firstname,phone1,department,lastname,courseName,moduleName,completionstate,CompletionDate
0,227,e20160244,Kheav Mony Reth,M,GRU,I5-WRI-A,Climate Change and Adaptation,resource,1,2020-10-13 15:40:51
1,263,e20160806,Veth Vathanachannbo,M,GRU,I5-WRI-B,Climate Change and Adaptation,resource,1,2020-10-20 13:05:44
2,206,e20160046,Chea Hormey,F,GRU,I5-WRI-A,Climate Change and Adaptation,resource,1,2020-10-20 13:05:58
3,261,e20160705,Tai Sovandy,M,GRU,I5-WRI-B,Climate Change and Adaptation,resource,1,2020-10-20 13:20:57
4,232,e20160335,Lin Leang Puthy,M,GRU,I5-WRI-A,Climate Change and Adaptation,resource,1,2020-10-20 13:23:38
...,...,...,...,...,...,...,...,...,...,...
787,769,e20181116,TAY VANRA,M,GGG,I3-GGG,Geodesy and Topography,resource,0,2020-10-20 07:52:28
788,741,e20180720,OUM DARAPISEY,F,GGG,I3-GGG,Geodesy and Topography,resource,0,2020-10-20 07:27:27
789,767,e20181088,SUN MOUYHORNG,F,GGG,I3-GGG,Geodesy and Topography,resource,0,2020-10-20 08:53:22
790,762,e20181042,SOUR PISETH,M,GGG,I3-GGG,Geodesy and Topography,resource,0,2020-10-20 07:18:08
791,321,e20160287,KORN VANNAROTH,M,GIC,I5-GIC,Image Processing,resource,0,2020-10-12 21:14:13

In [6]:
df1[(df1['courseName'] == 'Geodesy and Topography')]

ValueError: Item wrong length 2 instead of 792.

# I. Course

1. Show all course and all students in each course

In [21]:
import pandas as pd
md = pd.read_csv('moodleitcdata.csv')

cond = md.groupby(['courseName','firstname']).count()
cond

                                                 userid  username  phone1  \
courseName                    firstname
Climate Change and Adaptation Admin                   1         1       0
                              An Oudom                1         1       1
                              Chaing Seyhakmony       2         2       2
                              Chea Hormey             1         1       1
                              Dorn Da                 1         1       1
...                                                 ...       ...     ...
Topographic Surveying         DOU LICHUER             1         1       1
                              DOUNG REAKSA            3         3       3
                              HEL HORNG               1         1       1
                              PEANG SITHIRONG         1         1       1
                              TESTING                 2         2       2

                                                 department  lastname  \
courseName                    firstname
Climate Change and Adaptation Admin                       0         1
                              An Oudom                    1         1
                              Chaing Seyhakmony           2         2
                              Chea Hormey                 1         1
                              Dorn Da                     1         1
...                                                     ...       ...
Topographic Surveying         DOU LICHUER                 1         1
                              DOUNG REAKSA                3         3
                              HEL HORNG                   1         1
                              PEANG SITHIRONG             1         1
                              TESTING                     2         2

                                                 moduleName  completionstate  \
courseName                    firstname
Climate Change and Adaptation Admin                       1                1
                              An Oudom                    1                1
                              Chaing Seyhakmony           2                2
                              Chea Hormey                 1                1
                              Dorn Da                     1                1
...                                                     ...              ...
Topographic Surveying         DOU LICHUER                 1                1
                              DOUNG REAKSA                3                3
                              HEL HORNG                   1                1
                              PEANG SITHIRONG             1                1
                              TESTING                     2                2

                                                 CompletionDate
courseName                    firstname
Climate Change and Adaptation Admin                           1
                              An Oudom                        1
                              Chaing Seyhakmony               2
                              Chea Hormey                     1
                              Dorn Da                         1
...                                                         ...
Topographic Surveying         DOU LICHUER                     1
                              DOUNG REAKSA                    3
                              HEL HORNG                       1
                              PEANG SITHIRONG                 1
                              TESTING                         2

[431 rows x 8 columns]

2. Give a summary info for each course (type of course material scorm or html/resource?, how many students enrolled? how many female and male?, how many are active during time t1 to t2?)

In [74]:
import pandas as pd
md =pd.read_csv('moodleitcdata.csv')
md = md.rename(columns={'userid':'ID', 'username': 'Username', 'firstname':'Firstname', 'phone1':'Sex', 'department':'Department', 'lastname':'Group', 'courseName':'Course Name', 'moduleName':'Module Name', 'completionstate': 'Completion State', 'CompletionDate':'Completion Date'})
    
start_date = '2020-10-22'
end_date = '2020-12-01'

md = md[(md['Completion Date'] >= d1 ) & (md['Completion Date'] <= d2) ]

cond1=md.groupby(['Course Name','Module Name','Sex']).count()
cond1

                                                                  ID  \
Course Name                                      Module Name Sex
Climate Change and Adaptation                    resource    F     4
                                                             M    26
Database Analysis and Design                     scorm       F     5
                                                             M    39
Environmental Geology                            scorm       F     1
                                                             M     4
Food Microbiology                                scorm       F    46
                                                             M    18
Geodesy and Topography                           resource    F    31
                                                             M    71
Geographic Information System and Remote Sensing scorm       F     7
                                                             M    32
Image Processing                                 resource    M     1
                                                 scorm       M     1
Introduction to Computer Science                 scorm       M     5
Natural Language Processing                      resource    M     1
Software Engineering                             scorm       F     1
                                                             M     4
Strength of Material                             resource    F    10
                                                             M    19
Topographic Surveying                            scorm       F     1
                                                             M     9

                                                                  Username  \
Course Name                                      Module Name Sex
Climate Change and Adaptation                    resource    F           4
                                                             M          26
Database Analysis and Design                     scorm       F           5
                                                             M          39
Environmental Geology                            scorm       F           1
                                                             M           4
Food Microbiology                                scorm       F          46
                                                             M          18
Geodesy and Topography                           resource    F          31
                                                             M          71
Geographic Information System and Remote Sensing scorm       F           7
                                                             M          32
Image Processing                                 resource    M           1
                                                 scorm       M           1
Introduction to Computer Science                 scorm       M           5
Natural Language Processing                      resource    M           1
Software Engineering                             scorm       F           1
                                                             M           4
Strength of Material                             resource    F          10
                                                             M          19
Topographic Surveying                            scorm       F           1
                                                             M           9

                                                                  Firstname  \
Course Name                                      Module Name Sex
Climate Change and Adaptation                    resource    F            4
                                                             M           26
Database Analysis and Design                     scorm       F            5
                                                             M           39
Environmental Geology                            scorm       F            1
                                                             M            4
Food Microbiology                                scorm       F           46
                                                             M           18
Geodesy and Topography                           resource    F           31
                                                             M           71
Geographic Information System and Remote Sensing scorm       F            7
                                                             M           32
Image Processing                                 resource    M            1
                                                 scorm       M            1
Introduction to Computer Science                 scorm       M            5
Natural Language Processing                      resource    M            1
Software Engineering                             scorm       F            1
                                                             M            4
Strength of Material                             resource    F           10
                                                             M           19
Topographic Surveying                            scorm       F            1
                                                             M            9

                                                                  Department  \
Course Name                                      Module Name Sex
Climate Change and Adaptation                    resource    F             4
                                                             M            26
Database Analysis and Design                     scorm       F             5
                                                             M            39
Environmental Geology                            scorm       F             1
                                                             M             4
Food Microbiology                                scorm       F            46
                                                             M            18
Geodesy and Topography                           resource    F            31
                                                             M            71
Geographic Information System and Remote Sensing scorm       F             7
                                                             M            32
Image Processing                                 resource    M             1
                                                 scorm       M             1
Introduction to Computer Science                 scorm       M             5
Natural Language Processing                      resource    M             1
Software Engineering                             scorm       F             1
                                                             M             4
Strength of Material                             resource    F            10
                                                             M            19
Topographic Surveying                            scorm       F             1
                                                             M             9

                                                                  Group  \
Course Name                                      Module Name Sex
Climate Change and Adaptation                    resource    F        4
                                                             M       26
Database Analysis and Design                     scorm       F        5
                                                             M       39
Environmental Geology                            scorm       F        1
                                                             M        4
Food Microbiology                                scorm       F       46
                                                             M       18
Geodesy and Topography                           resource    F       31
                                                             M       71
Geographic Information System and Remote Sensing scorm       F        7
                                                             M       32
Image Processing                                 resource    M        1
                                                 scorm       M        1
Introduction to Computer Science                 scorm       M        5
Natural Language Processing                      resource    M        1
Software Engineering                             scorm       F        1
                                                             M        4
Strength of Material                             resource    F       10
                                                             M       19
Topographic Surveying                            scorm       F        1
                                                             M        9

                                                                  Completion State  \
Course Name                                      Module Name Sex
Climate Change and Adaptation                    resource    F                   4
                                                             M                  26
Database Analysis and Design                     scorm       F                   5
                                                             M                  39
Environmental Geology                            scorm       F                   1
                                                             M                   4
Food Microbiology                                scorm       F                  46
                                                             M                  18
Geodesy and Topography                           resource    F                  31
                                                             M                  71
Geographic Information System and Remote Sensing scorm       F                   7
                                                             M                  32
Image Processing                                 resource    M                   1
                                                 scorm       M                   1
Introduction to Computer Science                 scorm       M                   5
Natural Language Processing                      resource    M                   1
Software Engineering                             scorm       F                   1
                                                             M                   4
Strength of Material                             resource    F                  10
                                                             M                  19
Topographic Surveying                            scorm       F                   1
                                                             M                   9

                                                                  Completion Date
Course Name                                      Module Name Sex
Climate Change and Adaptation                    resource    F                  4
                                                             M                 26
Database Analysis and Design                     scorm       F                  5
                                                             M                 39
Environmental Geology                            scorm       F                  1
                                                             M                  4
Food Microbiology                                scorm       F                 46
                                                             M                 18
Geodesy and Topography                           resource    F                 31
                                                             M                 71
Geographic Information System and Remote Sensing scorm       F                  7
                                                             M                 32
Image Processing                                 resource    M                  1
                                                 scorm       M                  1
Introduction to Computer Science                 scorm       M                  5
Natural Language Processing                      resource    M                  1
Software Engineering                             scorm       F                  1
                                                             M                  4
Strength of Material                             resource    F                 10
                                                             M                 19
Topographic Surveying                            scorm       F                  1
                                                             M                  9

In [75]:
# Option 2
import pandas as pd
md =pd.read_csv('moodleitcdata.csv')
md = md.rename(columns={'userid':'ID', 'username': 'Username', 'firstname':'Firstname', 'phone1':'Sex', 'department':'Department', 'lastname':'Group', 'courseName':'Course Name', 'moduleName':'Module Name', 'completionstate': 'Completion State', 'CompletionDate':'Completion Date'})
    
start_date = '2020-10-22'
end_date = '2020-12-01'

df = []
for i in range(0, len(md)):
    course = md.iloc[i][6]
    moduleName = md.iloc[i][7]
    male_student = md[ (md['Sex'] == 'M') & (md['Course Name'] == course) & (md['Completion Date'] >= str(start_date)) & (md['Completion Date'] <= str(end_date))]
    female_student = md[ (md['Sex'] == 'F') & (md['Course Name'] == course) & (md['Completion Date'] >= str(start_date)) & (md['Completion Date'] <= str(end_date)) ]

    m = male_student['ID'].count()
    f = female_student['ID'].count()

    if [course,moduleName,m,f] not in df:
        df.insert(i, [course,moduleName,m,f])


df = pd.DataFrame(df, columns = ['Course', 'Module Name', 'Male', 'Female'])
df

                                              Course Module Name  Male  Female
0                      Climate Change and Adaptation    resource     3       0
1                                         Cover Crop       scorm     0       0
2                       Database Analysis and Design       scorm    27       3
3                              Environmental Geology       scorm     0       0
4                                  Food Microbiology       scorm     0       1
5                             Geodesy and Topography    resource     2       0
6   Geographic Information System and Remote Sensing       scorm     9       1
7                                   Image Processing    resource     2       0
8                                   Image Processing       scorm     2       0
9                   Introduction to Computer Science       scorm     1       0
10                       Natural Language Processing    resource     0       0
11                              Software Engineering       scorm     1       0
12                              Strength of Material    resource    10       2
13                             Topographic Surveying       scorm     9       1

3. Show students learning progress of a selected course during a period of time (during startDate and endDate filter)

In [5]:
startDate = '2020-10-12 00:00:00'
endDate = '2020-10-20 00:00:00'
course = 'Geodesy and Topography'
progress = md[(md['CompletionDate'] >= startDate) & (md['CompletionDate'] <= endDate) & (md['courseName'] == course)]
pg = progress.groupby(['firstname','courseName','completionstate']).count()
pg

                                                       userid  username  \
firstname      courseName             completionstate
HEARN LYPHENG  Geodesy and Topography 1                     1         1
KHUOCH RATHANA Geodesy and Topography 0                     1         1
RORN KHANIN    Geodesy and Topography 1                     1         1
SEANG SEYHA    Geodesy and Topography 1                     2         2
SOK VEASNA     Geodesy and Topography 1                     1         1
SOUR PISETH    Geodesy and Topography 0                     2         2
SRONG ENGSONG  Geodesy and Topography 1                     2         2
SUN MOUYHORNG  Geodesy and Topography 1                     1         1
UN SOKRITH     Geodesy and Topography 1                     1         1
VAN VICHEKA    Geodesy and Topography 0                     8         8
                                      1                     1         1

                                                       phone1  department  \
firstname      courseName             completionstate
HEARN LYPHENG  Geodesy and Topography 1                     1           1
KHUOCH RATHANA Geodesy and Topography 0                     1           1
RORN KHANIN    Geodesy and Topography 1                     1           1
SEANG SEYHA    Geodesy and Topography 1                     2           2
SOK VEASNA     Geodesy and Topography 1                     1           1
SOUR PISETH    Geodesy and Topography 0                     2           2
SRONG ENGSONG  Geodesy and Topography 1                     2           2
SUN MOUYHORNG  Geodesy and Topography 1                     1           1
UN SOKRITH     Geodesy and Topography 1                     1           1
VAN VICHEKA    Geodesy and Topography 0                     8           8
                                      1                     1           1

                                                       lastname  moduleName  \
firstname      courseName             completionstate
HEARN LYPHENG  Geodesy and Topography 1                       1           1
KHUOCH RATHANA Geodesy and Topography 0                       1           1
RORN KHANIN    Geodesy and Topography 1                       1           1
SEANG SEYHA    Geodesy and Topography 1                       2           2
SOK VEASNA     Geodesy and Topography 1                       1           1
SOUR PISETH    Geodesy and Topography 0                       2           2
SRONG ENGSONG  Geodesy and Topography 1                       2           2
SUN MOUYHORNG  Geodesy and Topography 1                       1           1
UN SOKRITH     Geodesy and Topography 1                       1           1
VAN VICHEKA    Geodesy and Topography 0                       8           8
                                      1                       1           1

                                                       CompletionDate
firstname      courseName             completionstate
HEARN LYPHENG  Geodesy and Topography 1                             1
KHUOCH RATHANA Geodesy and Topography 0                             1
RORN KHANIN    Geodesy and Topography 1                             1
SEANG SEYHA    Geodesy and Topography 1                             2
SOK VEASNA     Geodesy and Topography 1                             1
SOUR PISETH    Geodesy and Topography 0                             2
SRONG ENGSONG  Geodesy and Topography 1                             2
SUN MOUYHORNG  Geodesy and Topography 1                             1
UN SOKRITH     Geodesy and Topography 1                             1
VAN VICHEKA    Geodesy and Topography 0                             8
                                      1                             1

4. How many students are active during the time t1 to t2. (t1 and t2 are date timestamp) (active is basically mean they are access to learn the course. can be validated via the completionState column in dataset)

In [4]:
md = pd.read_csv('moodleitcdata.csv')

t1 = '2020-10-12 00:00:00'
t2 = '2020-11-20 00:00:00'
state = 1

activeStudent = md[(md['CompletionDate'] >= t1) & (md['CompletionDate'] <= t2) & (md['completionstate'] == state)]
# getActive['username']
studentNum = activeStudent.groupby(['courseName']).count()
studentNum

,userid,username,firstname,phone1,department,lastname,moduleName,completionstate,CompletionDate
courseName,,,,,,,,,
Climate Change and Adaptation,60,60,60,59,59,60,60,60,60
Cover Crop,1,1,1,0,0,1,1,1,1
Database Analysis and Design,155,155,155,155,155,155,155,155,155
Environmental Geology,9,9,9,9,9,9,9,9,9
Food Microbiology,123,123,123,123,123,123,123,123,123
Geodesy and Topography,78,78,78,78,78,78,78,78,78
Geographic Information System and Remote Sensing,87,87,87,87,87,87,87,87,87
Image Processing,8,8,8,8,8,8,8,8,8
Introduction to Computer Science,5,5,5,5,5,5,5,5,5
Natural Language Processing,28,28,28,26,26,28,28,28,28
Software Engineering,57,57,57,57,57,57,57,57,57
Strength of Material,124,124,124,124,124,124,124,124,124
Topographic Surveying,10,10,10,10,10,10,10,10,10

5. Show a summary of a course (how many students enrolled?, how many males and females? how many of them are currently active within the past 2 weeks?, ....)

6. List all courses in each department order by academic year and student level year.

7. Give a summary info for each department in a specified academic year (how many courses? how many students in each course, how many females and males? how many of them are currently active)

In [31]:
import pandas as pd
from datetime import datetime, timedelta

md =pd.read_csv('moodleitcdata.csv')
md = md.rename(columns={'userid':'ID', 'username': 'Username', 'firstname':'Firstname', 'phone1':'Sex', 'department':'Department', 'lastname':'Group', 'courseName':'Course Name', 'moduleName':'Module Name', 'completionstate': 'Completion State', 'CompletionDate':'Completion Date'})
    
md = md[md['Department'] == 'GIC'] #dep GIC
md = md[md['Group'] == 'I5-GIC'] #Year 5

N = 14 #last 14 day
date_N_days_ago = datetime.now() - timedelta(days=N)
# start_date = str(date_N_days_ago)
# end_date = datetime.now()

#test
start_date = '2020-10-22'
end_date = '2020-12-01'

df = []
for i in range(0, len(md)):
    course = md.iloc[i][6]
    moduleName = md.iloc[i][7]
    c_male_student = md[ (md['Sex'] == 'M') & (md['Course Name'] == course) & (md['Completion Date'] >= str(start_date)) & (md['Completion Date'] <= str(end_date))]
    c_female_student = md[ (md['Sex'] == 'F') & (md['Course Name'] == course) & (md['Completion Date'] >= str(start_date)) & (md['Completion Date'] <= str(end_date)) ]
    male_student = md[ (md['Sex'] == 'M') & (md['Course Name'] == course)]
    female_student = md[ (md['Sex'] == 'F') & (md['Course Name'] == course)]

    m = male_student['ID'].count()
    f = female_student['ID'].count()
    c_m = c_male_student['ID'].count()
    c_f = c_female_student['ID'].count()
    
    active_student = c_m + c_f

    if [course,moduleName,m,f,active_student] not in df:
        df.insert(i, [course,moduleName,m,f,active_student])


df = pd.DataFrame(df, columns = ['Course', 'Module Name', 'Male', 'Female', 'Active Student'])
df['All enroll'] = df['Male'] + df['Female']
df

,Course,Module Name,Male,Female,Active Student,All enroll
0,Image Processing,resource,9,0,2,9
1,Image Processing,scorm,9,0,2,9
2,Natural Language Processing,resource,19,4,0,23

# II. Student

1. List all students in each year for each department

In [5]:
import pandas as pd
md = pd.read_csv('moodleitcdata.csv')
md[["DepartmentYear", "DepartmentName", "DepartmentGroup"]] = md["lastname"].str.split("-", expand = True)
md.groupby(['department', 'DepartmentYear','firstname']).count()

                                               userid  username  phone1  \
department DepartmentYear firstname
GCA        I4             CHIEB CHANTHOL            2         2       2
                          Chann Kimsang             1         1       1
                          Cheng Phallin             1         1       1
                          Chhunteang Eanghay        1         1       1
                          Chhuor Sochan Vimul       2         2       2
...                                               ...       ...     ...
GRU        I5             Tai Sovandy               1         1       1
                          Tho Borin                 2         2       2
                          Veth Vathanachannbo       2         2       2
                          Yao Thapiya               1         1       1
                          Yet Tokyo                 4         4       4

                                               lastname  courseName  \
department DepartmentYear firstname
GCA        I4             CHIEB CHANTHOL              2           2
                          Chann Kimsang               1           1
                          Cheng Phallin               1           1
                          Chhunteang Eanghay          1           1
                          Chhuor Sochan Vimul         2           2
...                                                 ...         ...
GRU        I5             Tai Sovandy                 1           1
                          Tho Borin                   2           2
                          Veth Vathanachannbo         2           2
                          Yao Thapiya                 1           1
                          Yet Tokyo                   4           4

                                               moduleName  completionstate  \
department DepartmentYear firstname
GCA        I4             CHIEB CHANTHOL                2                2
                          Chann Kimsang                 1                1
                          Cheng Phallin                 1                1
                          Chhunteang Eanghay            1                1
                          Chhuor Sochan Vimul           2                2
...                                                   ...              ...
GRU        I5             Tai Sovandy                   1                1
                          Tho Borin                     2                2
                          Veth Vathanachannbo           2                2
                          Yao Thapiya                   1                1
                          Yet Tokyo                     4                4

                                               CompletionDate  DepartmentName  \
department DepartmentYear firstname
GCA        I4             CHIEB CHANTHOL                    2               2
                          Chann Kimsang                     1               1
                          Cheng Phallin                     1               1
                          Chhunteang Eanghay                1               1
                          Chhuor Sochan Vimul               2               2
...                                                       ...             ...
GRU        I5             Tai Sovandy                       1               1
                          Tho Borin                         2               2
                          Veth Vathanachannbo               2               2
                          Yao Thapiya                       1               1
                          Yet Tokyo                         4               4

                                               DepartmentGroup
department DepartmentYear firstname
GCA        I4             CHIEB CHANTHOL                     0
                          Chann Kimsang                      0
                          Cheng Phallin                      0
                          Chhunteang Eanghay                 0
                          Chhuor Sochan Vimul                0
...                                                        ...
GRU        I5             Tai Sovandy                        1
                          Tho Borin                          2
                          Veth Vathanachannbo                2
                          Yao Thapiya                        1
                          Yet Tokyo                          4

[421 rows x 10 columns]

2. Search all courses that a student enrolled in (e.g Dara)

In [7]:
studentName = 'KORN VANNAROTH'
df2 = md[md['firstname'] == studentName]
arr = df2['courseName'].unique()
arr

array(['Natural Language Processing', 'Image Processing'], dtype=object)

3. List all courses that a student is in active access (active status if students access to lesson during the past 2 weeks)

In [12]:
import datetime
md = pd.read_csv('moodleitcdata.csv')
N = 14
active = datetime.date.today() - datetime.timedelta(days=N)
df1 = md[md['CompletionDate']<=str(active)]
df1['courseName'].unique()

array(['Climate Change and Adaptation', 'Cover Crop',
       'Database Analysis and Design', 'Environmental Geology',
       'Food Microbiology', 'Geodesy and Topography',
       'Geographic Information System and Remote Sensing',
       'Image Processing', 'Introduction to Computer Science',
       'Natural Language Processing', 'Software Engineering',
       'Strength of Material', 'Topographic Surveying'], dtype=object)

4. Show learning progress (how many lessons finished?) of all students in each course in GIC department(can allow to select another department too)

In [20]:
md = pd.read_csv('moodleitcdata.csv')
md = md.rename(columns={'userid':'ID', 'username': 'Student ID', 'firstname':'Student Name', 'phone1':'Sex', 'department':'Department', 'lastname':'Group', 'courseName':'Course Name', 'moduleName':'Module Name', 'completionstate': 'Completion State', 'CompletionDate':'Completion Date'})

inp = input()
dep = ['GRU', 'GIC', 'GGG', 'GCA', 'GCI-GRU']
md1 = md[(md['Completion State']==1)&(md['Department']== inp)]
cond = md1.groupby(['Department','Course Name','ID','Student ID','Student Name','Sex','Group','Module Name']).count()
cond

GIC

                                                                                             Completion State  \
Department Course Name                  ID  Student ID Student Name  Sex Group  Module Name
GIC        Database Analysis and Design 342 e20180005  AN SREYKHUOCH F   I3-GIC scorm                       2
                                        344 e20180031  BROS TOCH     M   I3-GIC scorm                       1
                                        346 e20180044  BUT DALIN     M   I3-GIC scorm                       2
                                        347 e20180058  CHANN VICHEA  M   I3-GIC scorm                       2
                                        349 e20180087  CHHAY LY AN   M   I3-GIC scorm                       3
...                                                                                                       ...
           Software Engineering         306 e20170998  UN LYKONG     F   I4-GIC scorm                       2
                                        307 e20171025  VIN ILEN      F   I4-GIC scorm                       2
                                        309 e20171041  VUTHY DARA    M   I4-GIC scorm                       2
                                        310 e20171052  YEAN SEYHA    M   I4-GIC scorm                       3
           Topographic Surveying        849 test1      TESTING       M   test   scorm                       2

                                                                                             Completion Date
Department Course Name                  ID  Student ID Student Name  Sex Group  Module Name
GIC        Database Analysis and Design 342 e20180005  AN SREYKHUOCH F   I3-GIC scorm                      2
                                        344 e20180031  BROS TOCH     M   I3-GIC scorm                      1
                                        346 e20180044  BUT DALIN     M   I3-GIC scorm                      2
                                        347 e20180058  CHANN VICHEA  M   I3-GIC scorm                      2
                                        349 e20180087  CHHAY LY AN   M   I3-GIC scorm                      3
...                                                                                                      ...
           Software Engineering         306 e20170998  UN LYKONG     F   I4-GIC scorm                      2
                                        307 e20171025  VIN ILEN      F   I4-GIC scorm                      2
                                        309 e20171041  VUTHY DARA    M   I4-GIC scorm                      2
                                        310 e20171052  YEAN SEYHA    M   I4-GIC scorm                      3
           Topographic Surveying        849 test1      TESTING       M   test   scorm                      2

[118 rows x 2 columns]

# III. Completion

1. List all students who finished less than 5 lessons in each course.

In [1]:
import pandas as pd
md = pd.read_csv('moodleitcdata.csv')
md1 = md[md['completionstate']==1]
cond1 = md1.groupby(['userid','username','firstname','phone1','department','lastname','courseName','moduleName']).count()
cond1[cond1['completionstate']<5]

                                                                                                          completionstate  \
userid username  firstname           phone1 department lastname courseName                    moduleName
18     hakdaneth HAK                 F      GRU        Daneth   Climate Change and Adaptation resource                  2
19     bouchanna BOU                 M      GIC        Channa   Natural Language Processing   resource                  1
32     e20170071 Cheng Phallin       F      GCA        I4-GCA   Food Microbiology             scorm                     1
36     e20191324 Chhunteang Eanghay  M      GCA        I4-GCA   Food Microbiology             scorm                     1
37     e20170132 Chhuor Sochan Vimul F      GCA        I4-GCA   Food Microbiology             scorm                     2
...                                                                                                                   ...
847    e20170965 THOU CHANRAT        F      GCA        I4-GCA   Food Microbiology             scorm                     1
849    test1     TESTING             M      GIC        test     Database Analysis and Design  scorm                     3
                                                                Topographic Surveying         scorm                     2
850    m030605   SIM Ratha           F      GCA        M1-GCA   Food Microbiology             scorm                     1
856    e20180289 HENG SOTHEAROTH     M      GRU        I3-A     Strength of Material          resource                  2

                                                                                                          CompletionDate
userid username  firstname           phone1 department lastname courseName                    moduleName
18     hakdaneth HAK                 F      GRU        Daneth   Climate Change and Adaptation resource                 2
19     bouchanna BOU                 M      GIC        Channa   Natural Language Processing   resource                 1
32     e20170071 Cheng Phallin       F      GCA        I4-GCA   Food Microbiology             scorm                    1
36     e20191324 Chhunteang Eanghay  M      GCA        I4-GCA   Food Microbiology             scorm                    1
37     e20170132 Chhuor Sochan Vimul F      GCA        I4-GCA   Food Microbiology             scorm                    2
...                                                                                                                  ...
847    e20170965 THOU CHANRAT        F      GCA        I4-GCA   Food Microbiology             scorm                    1
849    test1     TESTING             M      GIC        test     Database Analysis and Design  scorm                    3
                                                                Topographic Surveying         scorm                    2
850    m030605   SIM Ratha           F      GCA        M1-GCA   Food Microbiology             scorm                    1
856    e20180289 HENG SOTHEAROTH     M      GRU        I3-A     Strength of Material          resource                 2

[418 rows x 2 columns]

2. List all students who finished more than 5 lessons in each course.
3. List all students who finished more than 7 lessons in each course.
4. List all students who finished more than 10 lessons in each course.

5. Give a summary of learning progress of students in each course (show students who finished (completionState is 1) more than 6 lessons)

In [2]:
import pandas as pd
md = pd.read_csv('moodleitcdata.csv')
md1 = md[md['completionstate']==1]
cond1 = md1.groupby(['userid','username','firstname','phone1','department','lastname','courseName','moduleName']).count()
cond1[cond1['completionstate']<5]

                                                                                                          completionstate  \
userid username  firstname           phone1 department lastname courseName                    moduleName
18     hakdaneth HAK                 F      GRU        Daneth   Climate Change and Adaptation resource                  2
19     bouchanna BOU                 M      GIC        Channa   Natural Language Processing   resource                  1
32     e20170071 Cheng Phallin       F      GCA        I4-GCA   Food Microbiology             scorm                     1
36     e20191324 Chhunteang Eanghay  M      GCA        I4-GCA   Food Microbiology             scorm                     1
37     e20170132 Chhuor Sochan Vimul F      GCA        I4-GCA   Food Microbiology             scorm                     2
...                                                                                                                   ...
847    e20170965 THOU CHANRAT        F      GCA        I4-GCA   Food Microbiology             scorm                     1
849    test1     TESTING             M      GIC        test     Database Analysis and Design  scorm                     3
                                                                Topographic Surveying         scorm                     2
850    m030605   SIM Ratha           F      GCA        M1-GCA   Food Microbiology             scorm                     1
856    e20180289 HENG SOTHEAROTH     M      GRU        I3-A     Strength of Material          resource                  2

                                                                                                          CompletionDate
userid username  firstname           phone1 department lastname courseName                    moduleName
18     hakdaneth HAK                 F      GRU        Daneth   Climate Change and Adaptation resource                 2
19     bouchanna BOU                 M      GIC        Channa   Natural Language Processing   resource                 1
32     e20170071 Cheng Phallin       F      GCA        I4-GCA   Food Microbiology             scorm                    1
36     e20191324 Chhunteang Eanghay  M      GCA        I4-GCA   Food Microbiology             scorm                    1
37     e20170132 Chhuor Sochan Vimul F      GCA        I4-GCA   Food Microbiology             scorm                    2
...                                                                                                                  ...
847    e20170965 THOU CHANRAT        F      GCA        I4-GCA   Food Microbiology             scorm                    1
849    test1     TESTING             M      GIC        test     Database Analysis and Design  scorm                    3
                                                                Topographic Surveying         scorm                    2
850    m030605   SIM Ratha           F      GCA        M1-GCA   Food Microbiology             scorm                    1
856    e20180289 HENG SOTHEAROTH     M      GRU        I3-A     Strength of Material          resource                 2

[418 rows x 2 columns]

6. Give a summary of learning progress of students in each course (show students who finished 6<lesson<=10)

In [3]:
import pandas as pd
md = pd.read_csv('moodleitcdata.csv')
md1 = md[md['completionstate']==1]
cond1 = md1.groupby(['courseName','userid','username','firstname','phone1','department','lastname','moduleName']).count()
cond1[(cond1['completionstate']>6)&(cond1['completionstate']<=10)]

,,,,,,,,completionstate,CompletionDate
courseName,userid,username,firstname,phone1,department,lastname,moduleName,,
Geodesy and Topography,745,e20180807,PONG POV,M,GGG,I3-GGG,resource,9,9

7. Give a summary of learning progress of students in each course (show students who finished lesson>10)

In [4]:
import pandas as pd
md = pd.read_csv('moodleitcdata.csv')
md1 = md[md['completionstate']==1]
cond1 = md1.groupby(['courseName','userid','username','firstname','phone1','department','lastname','moduleName']).count()
cond1[(cond1['completionstate']>10)]

,,,,,,,,completionstate,CompletionDate
courseName,userid,username,firstname,phone1,department,lastname,moduleName,,
Geographic Information System and Remote Sensing,134,e20170315,Kao Lyhov,M,GRU,I4-WRI-A,scorm,13,13